<section id="about" class="items-center text-slate-900 dark:bg-slate-900">
    <div class="max-w-5xl px-10 mx-auto dark:text-slate-300">
        <div class="w-full mx-auto text-center">
            <h2 class="text-center text-4xl font-bold">ABOUT ME</h2>
            <div class="bg-teal-300 h-1.5 w-24 mx-auto mt-2"></div>
        </div>

        <div class="mt-10">
            <div class="mb-5">
                <h4 class="text-4xl">
                    I am Josel and I am a <span class="text-teal-300">Developer</span>
                </h4>
            </div>

            <article class="text-justify indent-10 mb-5">
                As a developer, I approach my work with a humble yet determined mindset. Each project is a chance to learn and grow, and I never settle for mediocrity. I constantly seek out opportunities to expand my skills and improve my craft. My goal is simple: to continuously evolve and become the best developer I
                can be.
            </article>

            <div>
                <a class="bg-teal-300 py-2 px-4 rounded-lg text-slate-800" href="https://drive.google.com/file/d/1_y3P7JmBr3ab9aVEwaiHvGBWlRb8RqGf/view?usp=drive_link" target="_blank">Download CV</a>
            </div>

            <div class="w-full h-0.5 bg-teal-400 my-10 mx-auto rounded-sm">
            </div>

            <div>
                <h2 class="text-2xl font-semibold text-teal-300 mb-3">AWARDS RECEIVED</h2>

                <ul class="indent-8">
                    <li class="mb-2"> 🏆 Best in Python Programming, SCS Foundation Day, City College of Tagaytay</li>
                    <li> 🥈 2nd Runner Up, Art Symposium 2018, City College of Tagaytay</li>
                </ul>
            </div>

        </div>



    </div>

</section>