<section id="about" class="items-center text-slate-900 dark:bg-slate-900">
    <div class="max-w-5xl sm:px-10 p-4 mx-auto dark:text-slate-300">
        <div class="w-full mx-auto text-center">
            <h2 class="text-center text-4xl font-bold">ABOUT ME</h2>
            <div class="bg-teal-300 h-1.5 w-24 mx-auto mt-2"></div>
        </div>

        <div class="mt-10">
            <div class="mb-5">
                <h4 class="text-4xl">
                    I am Josel and I am a <span class="text-teal-300">Developer</span>
                </h4>
            </div>

            <article class="text-justify mb-5">
                <p class="mb-2"> I'm a full-stack developer with experience building and maintaining web applications that support
                    business operations. I’ve worked on both frontend and backend systems using tools like Angular,
                    React,
                    Node.js, NestJS, and PHP.</p>


                <p class="mb-2"> I enjoy creating solutions that help teams work more efficiently — whether that’s for internal tools
                    or
                    customer-facing platforms. I'm also comfortable working with databases, improving app performance,
                    and
                    making sure systems run smoothly.
                </p>

                <p class="mb-2"> Right now, I'm focused on growing my skills while contributing to projects that make a real impact
                    in
                    the workplace</p>

            </article>

            <div>
                <a class="bg-teal-300 py-2 px-4 rounded-lg text-slate-800"
                    href="https://drive.google.com/file/d/1Ji5-0xC9QujA9_9--x3IsMgCEU2g017K/view?usp=sharing"
                    target="_blank">Download CV</a>
            </div>

            <div class="w-full h-0.5 bg-teal-400 my-10 mx-auto rounded-sm">
            </div>

            <div>
                <h2 class="text-2xl font-semibold text-teal-300 mb-3">AWARDS RECEIVED</h2>

                <ul class="indent-8">
                    <li class="mb-2"> 🏆 Best in Python Programming, SCS Foundation Day, City College of Tagaytay</li>
                    <li> 🥈 2nd Runner Up, Art Symposium 2018, City College of Tagaytay</li>
                </ul>
            </div>

        </div>



    </div>

</section>