<section id="experiences" class="items-center text-slate-900 dark:bg-slate-900">
    <div class="max-w-5xl p-4 mx-auto dark:text-slate-300">
        <div class="w-full mx-auto text-center mb-2">
            <h2 class="text-center text-4xl font-bold">MY EXPERIENCES</h2>
            <div class="bg-teal-300 h-1.5 w-24 mx-auto mt-2"></div>
        </div>

        <div
            class="grid grid-cols-1 gap-6 mt-10 sm:grid-cols-3 dark:bg-transparent dark:hover:bg-gray-500 dark:hover:bg-opacity-15 rounded-md ease-in duration-300 sm:p-10 p-2 dark:text-slate-400">
            <div class="col-span-1">
                <h1 class="text-xl dark:text-teal-300 mb-2">Connext International Inc.</h1>
                <div>
                    <span>July 2024 - Present</span>
                </div>
            </div>

            <div class="col-span-2">
                <h1 class="text-xl dark:text-teal-300 mb-2">Responsibilities</h1>
                <div>
                    <div class="flex mb-2">
                        <span class="iconify mt-1 mr-2  text-teal-400 min-w-3 max-w-3"
                            data-icon="akar-icons:pointer-right-fill">
                        </span>
                        <p>
                            Maintained and improved the internal recruitment system, addressing bugs and performance
                            issues to ensure consistent functionality for HR and hiring managers.
                        </p>
                    </div>
                    <div class="flex mb-2 ">
                        <span class="iconify mt-1 mr-2  text-teal-400  min-w-3 max-w-3"
                            data-icon="akar-icons:pointer-right-fill">
                        </span>
                        <p>
                            Developed and rolled out features to simplify the employee referral process, helping
                            increase participation from staff and speed up candidate sourcing.
                        </p>
                    </div>
                    <div class="flex mb-2 ">
                        <span class="iconify mt-1 mr-2  text-teal-400  min-w-3 max-w-3"
                            data-icon="akar-icons:pointer-right-fill">
                        </span>
                        <p>
                            Proactively monitored and troubleshot system issues, contributing to better uptime and
                            smoother recruitment workflows during peak hiring periods.
                        </p>
                    </div>
                </div>

                <div>
                    <ul class="flex flex-wrap mt-4">
                        <li
                            class="text-teal-800 dark:text-teal-400 rounded-full px-3 bg-teal-900 bg-opacity-45 mr-2 mb-2">
                            Angular</li>
                        <li
                            class="text-teal-800 dark:text-teal-400 rounded-full px-3 bg-teal-900 bg-opacity-45 mr-2 mb-2">
                            Node.JS</li>
                        <li
                            class="text-teal-800 dark:text-teal-400 rounded-full px-3 bg-teal-900 bg-opacity-45 mr-2 mb-2">
                            React
                        </li>
                        <li
                            class="text-teal-800 dark:text-teal-400 rounded-full px-3 bg-teal-900 bg-opacity-45 mr-2 mb-2">
                            Nest JS</li>
                        <li
                            class="text-teal-800 dark:text-teal-400 rounded-full px-3 bg-teal-900 bg-opacity-45 mr-2 mb-2">
                            MobX
                        </li>
                        <li
                            class="text-teal-800 dark:text-teal-400 rounded-full px-3 bg-teal-900 bg-opacity-45 mr-2 mb-2">
                            MySQL
                        </li>
                        <li
                            class="text-teal-800 dark:text-teal-400 rounded-full px-3 bg-teal-900 bg-opacity-45 mr-2 mb-2">
                            Nginx
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div
            class="grid grid-cols-1 gap-6 mt-10 sm:grid-cols-3 dark:bg-transparent dark:hover:bg-gray-500 dark:hover:bg-opacity-15 rounded-md ease-in duration-300 sm:p-10 p-2 dark:text-slate-400">
            <div class="col-span-1">
                <h1 class="text-xl dark:text-teal-300 mb-2">Lee Systems Technology Ventures</h1>
                <div>
                    <span>August 2022 - January 2024</span>
                </div>
            </div>

            <div class="col-span-2">
                <h1 class="text-xl dark:text-teal-300 mb-2">Responsibilities</h1>
                <div>
                    <div class="flex mb-2">
                        <span class="iconify mt-1 mr-2  text-teal-400 min-w-3 max-w-3"
                            data-icon="akar-icons:pointer-right-fill">
                        </span>
                        <p>
                            Led the continuous maintenance and enhancement of the Point of Sale (POS) application,
                            utilizing Angular and Node.js for optimal performance.
                        </p>
                    </div>
                    <div class="flex mb-2 ">
                        <span class="iconify mt-1 mr-2  text-teal-400  min-w-3 max-w-3"
                            data-icon="akar-icons:pointer-right-fill">
                        </span>
                        <p>
                            Developed an Angular application dedicated to generating files for mall operations,
                            featuring a
                            robust socket connection for seamless integration with POS systems.
                        </p>
                    </div>
                    <div class="flex mb-2 ">
                        <span class="iconify mt-1 mr-2  text-teal-400  min-w-3 max-w-3"
                            data-icon="akar-icons:pointer-right-fill">
                        </span>
                        <p>
                            Managed and optimized client databases, ensuring data accuracy and system reliability.
                        </p>
                    </div>
                    <div class="flex mb-2 ">
                        <span class="iconify mt-1 mr-2  text-teal-400  min-w-3 max-w-3"
                            data-icon="akar-icons:pointer-right-fill">
                        </span>
                        <p>
                            Played a vital role in the enhancements of PHP systems, implementing optimizations and
                            improvements for elevated efficiency.
                        </p>
                    </div>
                </div>

                <div>
                    <ul class="flex flex-wrap mt-4">
                        <li
                            class="text-teal-800 dark:text-teal-400 rounded-full px-3 bg-teal-900 bg-opacity-45 mr-2 mb-2">
                            Angular</li>
                        <li
                            class="text-teal-800 dark:text-teal-400 rounded-full px-3 bg-teal-900 bg-opacity-45 mr-2 mb-2">
                            Node.JS</li>
                        <li
                            class="text-teal-800 dark:text-teal-400 rounded-full px-3 bg-teal-900 bg-opacity-45 mr-2 mb-2">
                            PHP</li>
                        <li
                            class="text-teal-800 dark:text-teal-400 rounded-full px-3 bg-teal-900 bg-opacity-45 mr-2 mb-2">
                            Socket.IO</li>
                        <li
                            class="text-teal-800 dark:text-teal-400 rounded-full px-3 bg-teal-900 bg-opacity-45 mr-2 mb-2">
                            MySQL</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</section>