<section id="projects" class="items-center text-slate-900 dark:bg-slate-900">
    <div class="max-w-4xl p-4 mx-auto dark:text-slate-300">
        <div class="w-full mx-auto text-center mb-2">
            <h2 class="text-center text-4xl font-bold">MY PROJECTS</h2>
            <div class="bg-teal-300 h-1.5 w-24 mx-auto mt-2"></div>
        </div>

        <div class="bg-gray-500 grid grid-cols-1 gap-10 sm:grid-cols-2 py-10 bg-opacity-15 dark:bg-transparent dark:hover:bg-gray-500 dark:hover:bg-opacity-15 rounded-md ease-in duration-300 dark:hover:text-teal-400 mb-3">
            <div>
                <div class="px-10 ">
                    <img class="rounded-md hover:scale-105 ease-in duration-300" src="assets/images/project1_login_page.png" alt="">
                </div>
               
            </div>
            <div class="px-10 ">
                <h5 class=" mb-3 font-medium">
                    File Management System
                </h5>
                <article class="mb-3 dark:text-slate-400">
                    I created this web-based system for our capstone project as I am the lead programmer. I use PHP as our server-side scripting language.
                </article>
                <div>
                    <ul class="flex flex-wrap">
                        <li class="text-teal-800 dark:text-teal-400 rounded-full px-3 bg-teal-900 bg-opacity-45 mr-2 mb-2">PHP</li>
                        <li class="text-teal-800 dark:text-teal-400 rounded-full px-3 bg-teal-900 bg-opacity-45 mr-2 mb-2">HTML</li>
                        <li class="text-teal-800 dark:text-teal-400 rounded-full px-3 bg-teal-900 bg-opacity-45 mr-2 mb-2">CSS</li>
                        <li class="text-teal-800 dark:text-teal-400 rounded-full px-3 bg-teal-900 bg-opacity-45 mr-2 mb-2">Bootstrap</li>
                        <li class="text-teal-800 dark:text-teal-400 rounded-full px-3 bg-teal-900 bg-opacity-45 mr-2 mb-2">Javascript/JQuery</li>
                        <li class="text-teal-800 dark:text-teal-400 rounded-full px-3 bg-teal-900 bg-opacity-45 mr-2 mb-2">AJAX</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="bg-gray-500 grid grid-cols-1 gap-10 sm:grid-cols-2 py-10 bg-opacity-15 dark:bg-transparent dark:hover:bg-gray-500 dark:hover:bg-opacity-15 rounded-md ease-in duration-300 dark:hover:text-teal-400 mb-3">
            <div class="order-1 md:order-2">
                <div class="px-10 ">
                    <img class="rounded-md ease-in duration-300 hover:scale-105" src="assets/images/project2_myportfolio1.png" alt="">
                </div>
               
            </div>
            <div class="px-10 order-2 md:order-1">
                <h5 class=" mb-3 font-medium">
                    My Website Portfolio
                </h5>
                <article class="mb-3 dark:text-slate-400">
                    During my on-the-job training, I was assigned a task unrelated to web development, so I created this portfolio when I had free time or after completing a task assigned to me to practice my skills.
                </article>
                <div>
                    <ul class="flex flex-wrap">
                        <li class="text-teal-800 dark:text-teal-400 rounded-full px-3 bg-teal-900 bg-opacity-45 mr-2 mb-2">HTML</li>
                        <li class="text-teal-800 dark:text-teal-400 rounded-full px-3 bg-teal-900 bg-opacity-45 mr-2 mb-2">CSS</li>
                        <li class="text-teal-800 dark:text-teal-400 rounded-full px-3 bg-teal-900 bg-opacity-45 mr-2 mb-2">Bootstrap</li>
                        <li class="text-teal-800 dark:text-teal-400 rounded-full px-3 bg-teal-900 bg-opacity-45 mr-2 mb-2">Javascript/JQuery</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="bg-gray-500 grid grid-cols-1 gap-10 sm:grid-cols-2 py-10 bg-opacity-15 dark:bg-transparent dark:hover:bg-gray-500 dark:hover:bg-opacity-15 rounded-md ease-in duration-300 dark:hover:text-teal-400 mb-3">
            <div>
                <div class="px-10 ">
                    <img class="rounded-md ease-in duration-300 hover:scale-105" src="assets/images/project3_flames.png" alt="">
                </div>
               
            </div>
            <div class="px-10 ">
                <h5 class=" mb-3 font-medium">
                    Flames
                </h5>
                <article class="mb-3 dark:text-slate-400">
                    A simple web game based on the popular '90s teen game FLAMES. I created this app to practice vanilla js and plain CSS. And also to practice array and string manipulation in javascript.
                </article>
                <div>
                    <ul class="flex flex-wrap">
                        <li class="text-teal-800 dark:text-teal-400 rounded-full px-3 bg-teal-900 bg-opacity-45 mr-2 mb-2">HTML</li>
                        <li class="text-teal-800 dark:text-teal-400 rounded-full px-3 bg-teal-900 bg-opacity-45 mr-2 mb-2">CSS</li>
                        <li class="text-teal-800 dark:text-teal-400 rounded-full px-3 bg-teal-900 bg-opacity-45 mr-2 mb-2">Vanilla Javascript</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="bg-gray-500 grid grid-cols-1 gap-10 sm:grid-cols-2 py-10 bg-opacity-15 dark:bg-transparent dark:hover:bg-gray-500 dark:hover:bg-opacity-15 rounded-md ease-in duration-300 dark:hover:text-teal-400 mb-3">
            <div class="order-1 md:order-2">
                <div class="px-10 ">
                    <img class="rounded-md hover:scale-105 ease-in duration-300" src="assets/images/project4_insta_clone.png" alt="">
                </div>
               
            </div>
            <div class="px-10 order-2 md:order-1">
                <h5 class=" mb-3 font-medium">
                    Instagram Clone
                </h5>
                <article class="mb-3 dark:text-slate-400">
                    I created this project to study Laravel. I followed the Freecodecamp tutorial, creating an Instagram clone using Laravel. I learned on this project the basics of Laravel, particularly the MVC pattern and Eloquent.
                </article>
                <div>
                    <ul class="flex flex-wrap">
                        <li class="text-teal-800 dark:text-teal-400 rounded-full px-3 bg-teal-900 bg-opacity-45 mr-2 mb-2">Laravel 8</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>
