<div *ngIf="loading" class="w-full min-h-screen dark:bg-slate-900 flex justify-center items-center">
    <div class="loader">
    </div>
</div>

<!-- Main Content -->
<ng-container *ngIf="!loading">
    <app-navbar></app-navbar>
    <app-home></app-home>
    <app-about></app-about>
    <app-skills></app-skills>
    <app-experiences></app-experiences>
    <app-projects></app-projects>
    <app-contacts></app-contacts>
    <app-footer></app-footer>
    <router-outlet></router-outlet>
</ng-container>