<main id="home" class="origin-top min-h-screen text-slate-800 dark:bg-slate-900 dark:text-slate-300 ">
    <section id="hero"
        class="max-w-5xl min-h-screen mx-auto items-center grid grid-cols-1 sm:grid-cols-2 gap-3 sm:px-10 p-2">
        <div class="text-center sm:text-left relative sm:static">
            <div class="z-10">
                <div class="text-3xl font-medium my-3">
                    Hi! I'm
                </div>
                <h1 class="text-6xl font-bold text my-3">
                    JOSEL PEGA
                </h1>
                <div class="text-3xl my-3">
                    — a <span class="text-teal-400 font-medium">
                        Full-Stack Developer
                    </span>
                </div>
                <p class="">
                    I focus on building thoughtful, user-friendly digital experiences through clean and efficient
                    development.
                    Always learning. Always coding.
                </p>
                <p>
                    Nice to meet you.
                </p>

                <ul class="flex flex-wrap mt-4 justify-center sm:justify-start">
                    <li class="text-teal-400  mr-4 mb-2 text-2xl">
                        <a href="https://github.com/Josel0012"><span class="iconify"
                                data-icon="akar-icons:github-fill"></span></a>
                    </li>
                    <li class="text-teal-400  mr-4 mb-2 text-2xl">
                        <a href="https://join.skype.com/invite/yeIxI9IICM7K"><span class="iconify"
                                data-icon="el:skype"></span></a>
                    </li>
                    <li class="text-teal-400 mr-4 mb-2 text-2xl">
                        <a href="https://www.linkedin.com/in/josel-pega-baa10b241/"><span class="iconify"
                                data-icon="brandico:linkedin-rect"></span></a>
                    </li>

                </ul>
            </div>

            <div
                class=" sm:hidden absolute bg-purple-300 w-20 h-20 rounded-full animate-move-forward infinite right-10 opacity-30">
            </div>

            <div
                class=" sm:hidden absolute bg-pink-400 w-20 h-20 rounded-full animate-move-up -top-28 left-28 opacity-30">
            </div>

            <div class=" sm:hidden absolute bg-sky-500 w-14 h-14 rounded-full animate-move-forward -top-10 opacity-30">
            </div>
        </div>

        <div class="hidden sm:flex max-w-96 max-h-96 bg-teal-400 bg-opacity-80 rounded-full relative mx-auto">

            <img class="object-cover rounded-full z-10" src="assets/images/banner3.png" alt="">
            <div class="absolute bg-purple-300 w-28 h-28 rounded-full -left-5 animate-move-forward infinite">
            </div>

            <div class="absolute bg-pink-400 w-20 h-20 rounded-full bottom-32 -right-5 animate-move-up">
            </div>

            <div class="absolute bg-sky-500 w-14 h-14 rounded-full bottom-5 right-14 animate-move-forward z-20">
            </div>
        </div>

    </section>

</main>